<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="icon" type="image/x-icon" href="/iconC.png">   
    


</head>

<body class="d-flex flex-column vh-100 m-0">
    <%- include ('./partials/navbar') %>

        <main class="container">
            <%- include ('./partials/flash') %>
                <div class="d-block justify-content-center" style="position: relative; top: 20rem; text-align: center;">
                    <div>

                        <h1 class="text-light"
                            style="font-family: Courgette, cursive; font-weight: 400; font-style: normal">Oven & Batter</h1>

                        <% if (!views) { %>
                            <p class=" text-light">Welcome! A website fully dedicated to baked goods</p>

                            <% } else { %>
                                <p class=" text-light">Hello again, you've been here <%= views+1 %> times</p>
                                <% } %>
                            
                    </div>

                   <!--  Explore button -->
                    <div>
                        <a href="/product">
                            <button class="animated-button">
                                <svg xmlns="http://www.w3.org/2000/svg" class="arr-2" viewBox="0 0 24 24">
                                    <path
                                        d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                                    </path>
                                </svg>
                                <span class="text">Explore</span>
                                <span class="circle"></span>
                            </button>
                        </a>
                    </div>

                </div>
        </main>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"></script>


        <%- include ('./partials/footer') %>
</body>


</html>