<% layout('/layouts/boilerplate') -%>
    <link rel="stylesheet" href="/stylesheets/index.css">

    <div id="carouselMain" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <% data.forEach((item, i)=> { %>
                <button type="button" data-bs-target="#carouselMain" data-bs-slide-to=<%=i %>
                    class= <%= i===0 ? 'active' : null %> aria-current="true" aria-label="Slide <%= i %>"></button>
                <% }) %>
        </div>
        <div class="carousel-inner">
            <% data.forEach((item, i)=> { %>
                <div class="carousel-item image-div <%= i===0 ? 'active' : null %>">
                    <div class="d-flex justify-content-center">
                        <img src="<%= item.image[0]%>" class=" w-100  carousel-image">
                    </div>
                </div>
                <% }) %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselMain"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselMain"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <img id="arrowdown" src="/arrowdown.png" alt="here">

    <% for (let item of data) { %>
        <div class="card m-3 ">
            <div class="row">
                <div class="col-xl-3">
                    <img class="img-fluid product-image " width="300px" src="<%=item.image[0] %>" alt="">
                </div>
                <div class="col-xl-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= item.title %>
                        </h5>
                        <p class="class-text text-muted">
                            <%= item.location %>
                        </p>
                        <p class="card-text">
                            <%= item.description %>
                        </p>
                        <a class="btn btn-primary" href="/product/<%= item._id%>">See more</a>
                    </div>

                </div>
            </div>
        </div>
        <% } %>